<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Daniel Cherubini</string>
	<key>Builder Version</key>
	<string>11601.1.56</string>
	<key>CFBundleDisplayName</key>
	<string>Trello Card Numbers</string>
	<key>CFBundleIdentifier</key>
	<string>danmade.me.trello-card-numbers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery.min.js</string>
				<string>script.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http*://*.trello.com/*</string>
			<string>https://trello.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Trello Card Numbers</string>
	<key>DeveloperIdentifier</key>
	<string>9JJHF9CWG6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>trello.com</string>
				<string>*.trello.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://cherubini.casa</string>
</dict>
</plist>
